{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<header class="jumbotron profile center col-md-7 col-lg-7 col-sm-7">
    {% if user.is_authenticated and username == request.user.username %}
    <div class="edit-profile">
            <a class="btn btn-link btn-sm" href="/u/edit">Edit</a>
    </div>
    {% endif %}
    <div style="margin-bottom:20px; text-align:center">
        <img src="{{ photo_url }}" class="img-responsive img-thumbnail"
             style="border:3px solid white"/>
    </div>
    <h2 style="text-align: center; font-weight:700; font-size:50px;margin:0px;">{{user_profile.full_name}} <small>{{ username }}</small></h2>

        <h4 style="text-align: center;">
            {{user_profile.bio}}
        </h4>


    <div style="font-size: 16px;outline: 0; word-break: break-word; text-align: center">
        <h4 style="position: relative; display: inline-block;margin:10px">
            Followers <span class="badge">45</span>
        </h4>
        <h4 style="position: relative; display: inline-block;">
            Following <span class="badge">83</span>
        </h4>
    </div>
    <h4 style="text-align: center;">Reputation <span class="badge">92</span></h4>

    <div style="text-align: center;padding-top: 15px;">
        <button type="button" class="btn btn-primary">Follow</button>
    </div>
</header>
<div class="container">
    <hr>
    <ul class="list-unstyled">
        <li class="post-item">
            <div class="voting-block">
                <a href="#"><span class="fa fa-chevron-up fa-lg"></span></a>
                <span class="score">21</span>
                <a href="#"><span class="fa fa-chevron-down fa-lg"></span></a>
            </div>
            <div class="trend">
                <img src="{% static 'images/bull.png' %}" ></img>
            </div>
            <div class="post-details">
                <span class="stock-symbol">
                    YPF
                    <span class="stock-name">Ypf Sociedad Anonima</span>
                </span>

                <a href="#">
                    Undervalued Shale Energy Stock Could Triple
                </a>
                <span class="domain">
                        barrons.com
                </span>
                <span class="byline">
                     by <a href="/u/jatinshah">jatinshah</a> about 8 hours ago | <a href="#">11 comments</a>
                </span>

            </div>
        </li>
        <li class="post-item">
            <div class="voting-block">
                <a href="#"><span class="fa fa-chevron-up fa-lg"></span></a>
                <span style="font-weight: bold; color:#777777; display: block;position: relative;text-align: center">8</span>
                <a href="#"><span class="fa fa-chevron-down fa-lg"></span></a>
            </div>
            <div class="trend">
                <img src="{% static 'images/bear.png' %}"></img>
            </div>
            <div class="post-details">
                <span class="stock-symbol">
                    KO
                    <span class="stock-name">Coca Cola</span>
                </span>
                <a href="#">
                    Is Coke Undermangaged?
                </a>
                <span class="byline">
                     by <a href="/u/jatinshah">newchaos</a> about 8 hours ago | <a href="#">32 comments</a>
                </span>

            </div>
        </li>

    </ul>
    <ul class="pager">
        <li class="previous"><a href="#">Previous</a></li>
        <li class="next"><a href="#">Next</a></li>
    </ul>


</div>
{% endblock %}
