{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<div class="col-md-4 col-lg-4 col-sm-4">
    <div class="panel panel-info">
        <div class="panel-heading text-center"><strong>jatinshah</strong></div>
        <div class="panel-body text-center">
                <img src="http://instasrc.com/100/100" class="img-responsive img-thumbnail"/>
                <div class="profile-field" id="fullName"><strong>Jatin Shah</strong></div>
                <div class="profile-field" id="websiteURL"><a href="#">www.jatinshah.org</a></div>
                <div class="profile-field" id="followers"><strong>10 following / 30 followers</strong></div>
                <div class="profile-field" id="followers"><strong>Performance:</strong> 34.55%</div>
                <div class="profile-field" id="rank"><strong>Rank: </strong> 2350 (Top 10%)</div>
                <div class="profile-field" id="bio">
                    <small>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu tortor elementum elit
                        elementum eleifend vel quis turpis.
                    </small>
                </div>
        </div>
    </div>
</div>
<div class="col-md-8 col-lg-8 col-sm-8">
    <div>Posts by <strong>jatinshah</strong></div>
    <hr>
    <ul class="list-unstyled">
        <li class="post-item" style="overflow: auto">
            <div style="float: left;">
                <a href="#"><span class="fa fa-thumbs-o-up fa-lg"></span></a>
                <span style="font-weight: bold; color:#777777; display: block;position: relative;text-align: center">21</span>
            </div>
            <div style="margin-left: 0.5em;float: left">
                <img src="{% static 'images/bull.png' %}" style="width: 30px; height: auto"></img>
            </div>
            <div style="margin-left: 0.5em; font-size: 16px; font-weight: bold; float: left;">
                YPF
            </div>
            <div style="float:left;margin-left: 0.5em;">
                <a href="#">
                    Undervalued Shale Energy Stock Could Triple
                </a>
                <span style="font-style: italic; font-size: 10pt; color: #aeaeae">
                        barrons.com
                </span>
                <span style="display: block;position:relative; font-size: 10pt; font-style: italic; color: #777777">
                     by <a href="/u/jatinshah">jatinshah</a> about 8 hours ago | <a href="#">11 comments</a>
                </span>

            </div>
        </li>
        <li class="post-item" style="overflow: auto">
            <div style="float: left;">
                <a href="#"><span class="fa fa-thumbs-o-up fa-lg"></span></a>
                <span style="font-weight: bold; color:#777777; display: block;position: relative;text-align: center">8</span>
            </div>
            <div style="margin-left: 0.5em;float: left">
                <img src="{% static 'images/bear.png' %}" style="width: 30px; height: auto"></img>
            </div>
            <div style="margin-left: 0.5em; font-size: 16px; font-weight: bold; float: left;">
                KO
            </div>
            <div style="float:left;margin-left: 0.5em;">
                <a href="#">
                    Is Coke Undermangaged?
                </a>
                <span style="display: block;position:relative; font-size: 10pt; font-style: italic; color: #777777">
                     by <a href="/u/jatinshah">newchaos</a> about 8 hours ago | <a href="#">32 comments</a>
                </span>

            </div>
        </li>

    </ul>
    <ul class="pager">
        <li class="previous"><a href="#">Previous</a></li>
        <li class="next"><a href="#">Next</a></li>
    </ul>


</div>
{% endblock %}
