{% extends 'base.html' %}
{% load static %}
{% load content_tags %}

{% block content %}
    <header class="jumbotron profile center col-md-7 col-lg-7 col-sm-7">
        {% if user.is_authenticated and username == request.user.username %}
            <div class="edit-profile">
                <a class="btn btn-link btn-sm" href="/u/edit">Edit</a>
            </div>
        {% endif %}
        <div style="margin-bottom:20px; text-align:center">
            <img src="{{ photo_url }}" class="img-responsive img-thumbnail"
                 style="border:3px solid white"/>
        </div>
        <h2 style="text-align: center; font-weight:700; font-size:50px;margin:0px;">{{ user_profile.full_name }}
            <small>{{ username }}</small>
        </h2>

        <h4 style="text-align: center;">
            {{ user_profile.bio }}
        </h4>


        <div style="font-size: 16px;outline: 0; word-break: break-word; text-align: center">
            <h4 style="position: relative; display: inline-block;margin:10px">
                Followers <span class="badge">{{ follower_count }}</span>
            </h4>
            <h4 style="position: relative; display: inline-block;">
                Following <span class="badge">{{ following_count }}</span>
            </h4>
        </div>

        {% if username != request.user.username %}
            <div style="text-align: center;padding-top: 15px;">
                {% if following %}
                    <button type="button" class="btn btn-primary following" username={{ username }} id='follow-button'>
                        Following
                    </button>
                {% else %}
                    <button type="button" class="btn btn-default" username={{ username }} id='follow-button'>
                        Follow
                    </button>
                {% endif %}
            </div>
        {% endif %}
    </header>

        <div class="container">
        <ul class="list-unstyled">
            {% for post in posts %}
                <li class="post-item">
                    <div class="post-slug">
                        {{ post.slug }}
                    </div>
                    <div class="voting-block">
                            <i class="fa fa-caret-up fa-3x p-vote-up {% vote_class 'up' post.vote %}">
                            </i>
                            <span class="score">
                            {% if post.score %}
                                {{ post.score }}
                            {% else %}
                                0
                            {% endif %}
                            </span>
                    </div>
                    <div class="trend">
                        {% if post.trend == "bull" %}
                            <img src="{% static 'images/bull-transparent.png' %}" title="Bull"/>
                        {% elif post.trend == "bear" %}
                            <img src="{% static 'images/bear-transparent.png' %}" title="Bear"/>
                        {% endif %}
                    </div>
                    <div class="performance">
                        {{ post.performance|floatformat:"0" }}%
                    </div>
                    <div class="post-details">
                        <span class="stock-symbol">
                            {{ post.stock.symbol }}
                            <span class="stock-name"> {{ post.stock.name }}</span>
                        </span>
                        <a href="{{ post.get_absolute_url }}">
                            {{ post.title }}
                        </a>
                        {% if post.post_type == "link" %}
                            <span class="domain">
                                {{ post.domain }}
                            </span>
                        {% endif %}
                        <span class="byline">
                            <span class="byline-item">
                                <i class="fa fa-user"></i>
                                <a href="/u/{{ post.user.username }}">{{ post.user.username }}</a>
                            </span>
                            <span class="byline-item">
                                <i class="fa fa-clock-o"></i> {{ post.created_on_humanize }}
                            </span>
                            <span class="byline-item">
                            {% if post.comments_count %}
                                <a href="{{ post.get_absolute_url }}">
                                    <i class="fa fa-comment"></i> {{ post.comments_count }}
                                </a>
                            {% endif %}
                            </span>
                        </span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
