{% extends 'base.html' %}


{% block body_block %}
<div class="col-lg-4 col-md-5 col-sm-6 center top50">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title"><strong>Sign up for AlphaTracker</strong></h3></div>
        <div class="panel-body">
            <form role="form" name="signup_form" method="POST" action="/signup/">
                {% csrf_token %}

                {% for field in signup_form.visible_fields %}
                <div class="form-group {%if field.errors %}has-error{% endif %}">
                    {{ field.label_tag }}
                    {{ field }}
                    {% for err in field.errors %}
                    <span class="help-block">{{ err }}</span>
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="form-group">
                    <small>By clicking "Sign Up", you agree to our <a href="#">terms of service</a>
                        and <a href="#">privacy policy</a>.
                    </small>
                </div>
                <input type="submit" value="Sign Up" class="btn btn-primary"></input>
            </form>
        </div>
    </div>
</div>
{% endblock %}

