{% extends 'base.html' %}


{% block body_block %}
<div class="col-md-12 column">

    <ul class="list-unstyled">
        <li class="story">
            <div class="vote">
                <a class="upvote" href="#"><span class="fa fa-thumbs-o-up"></span></a>

                <div class="score"><strong>12</strong></div>
            </div>
            <div class="details">
                <span class="ticker"><strong>YPF</strong></span>
                        <span class="link">
                            <a href="http://online.barrons.com/news/articles/SB50001424053111904009804579248332064095714">
                                Undervalued Shale Energy Stock Could Triple
                            </a>
                        </span>
                <span class="domain">barrons.com</span>

                <div class="byline">
                    by <a href="/u/jatinshah">jatinshah</a>
                    <span class="time">about 8 hours ago</span>
                    <span class="comments">| <a href="#">11 comments</a></span>
                </div>
            </div>
        </li>
        <li class="story">
            <div class="vote">
                <a class="upvote" href="#"><span class="fa fa-thumbs-o-up"></span></a>

                <div class="score"><strong>73</strong></div>
            </div>
            <div class="details">
                <span class="ticker"><strong>CWGL</strong></span>
                        <span class="link">
                            <a href="http://brooklyninvestor.blogspot.in/2013/06/60-yield-cwgl-crimson-wine-group.html">
                                60% Yield! (CWGL: Crimson Wine Group)
                            </a>
                        </span>
                <span class="domain">brookylninvestor.blogspot.com</span>

                <div class="byline">
                    by <a href="/u/jatinshah">jatinshah</a>
                    <span class="time">about 3 hours ago</span>
                    <span class="comments">| <a href="#">5 comments</a></span>
                </div>
            </div>
        </li>

        <li class="story">
            <div class="vote">
                <a class="upvote" href="#"><span class="fa fa-thumbs-o-up"></span></a>

                <div class="score"><strong>12</strong></div>
            </div>
            <div class="details">
                <span class="ticker"><strong>YPF</strong></span>
                        <span class="link">
                            <a href="http://online.barrons.com/news/articles/SB50001424053111904009804579248332064095714">
                                Undervalued Shale Energy Stock Could Triple
                            </a>
                        </span>
                <span class="domain">barrons.com</span>

                <div class="byline">
                    by <a href="/u/jatinshah">jatinshah</a>
                    <span class="time">about 8 hours ago</span>
                    <span class="comments">| <a href="#">11 comments</a></span>
                </div>
            </div>
        </li>
        <li class="story">
            <div class="vote">
                <a class="upvote" href="#"><span class="fa fa-thumbs-o-up"></span></a>

                <div class="score"><strong>73</strong></div>
            </div>
            <div class="details">
                <span class="ticker"><strong>CWGL</strong></span>
                        <span class="link">
                            <a href="http://brooklyninvestor.blogspot.in/2013/06/60-yield-cwgl-crimson-wine-group.html">
                                60% Yield! (CWGL: Crimson Wine Group)
                            </a>
                        </span>
                <span class="domain">brookylninvestor.blogspot.com</span>

                <div class="byline">
                    by <a href="/u/jatinshah">jatinshah</a>
                    <span class="time">about 3 hours ago</span>
                    <span class="comments">| <a href="#">5 comments</a></span>
                </div>
            </div>
        </li>

        <li class="story">
            <div class="vote">
                <a class="upvote" href="#"><span class="fa fa-thumbs-o-up"></span></a>

                <div class="score"><strong>12</strong></div>
            </div>
            <div class="details">
                <span class="ticker"><strong>YPF</strong></span>
                        <span class="link">
                            <a href="http://online.barrons.com/news/articles/SB50001424053111904009804579248332064095714">
                                Undervalued Shale Energy Stock Could Triple
                            </a>
                        </span>
                <span class="domain">barrons.com</span>

                <div class="byline">
                    by <a href="/u/jatinshah">jatinshah</a>
                    <span class="time">about 8 hours ago</span>
                    <span class="comments">| <a href="#">11 comments</a></span>
                </div>
            </div>
        </li>
        <li class="story">
            <div class="vote">
                <a class="upvote" href="#"><span class="fa fa-thumbs-o-up"></span></a>

                <div class="score"><strong>73</strong></div>
            </div>
            <div class="details">
                <span class="ticker"><strong>CWGL</strong></span>
                        <span class="link">
                            <a href="http://brooklyninvestor.blogspot.in/2013/06/60-yield-cwgl-crimson-wine-group.html">
                                60% Yield! (CWGL: Crimson Wine Group)
                            </a>
                        </span>
                <span class="domain">brookylninvestor.blogspot.com</span>

                <div class="byline">
                    by <a href="/u/jatinshah">jatinshah</a>
                    <span class="time">about 3 hours ago</span>
                    <span class="comments">| <a href="#">5 comments</a></span>
                </div>
            </div>
        </li>

        <li class="story">
            <div class="vote">
                <a class="upvote" href="#"><span class="fa fa-thumbs-o-up"></span></a>

                <div class="score"><strong>12</strong></div>
            </div>
            <div class="details">
                <span class="ticker"><strong>YPF</strong></span>
                        <span class="link">
                            <a href="http://online.barrons.com/news/articles/SB50001424053111904009804579248332064095714">
                                Undervalued Shale Energy Stock Could Triple
                            </a>
                        </span>
                <span class="domain">barrons.com</span>

                <div class="byline">
                    by <a href="/u/jatinshah">jatinshah</a>
                    <span class="time">about 8 hours ago</span>
                    <span class="comments">| <a href="#">11 comments</a></span>
                </div>
            </div>
        </li>
        <li class="story">
            <div class="vote">
                <a class="upvote" href="#"><span class="fa fa-thumbs-o-up"></span></a>

                <div class="score"><strong>73</strong></div>
            </div>
            <div class="details">
                <span class="ticker"><strong>CWGL</strong></span>
                        <span class="link">
                            <a href="http://brooklyninvestor.blogspot.in/2013/06/60-yield-cwgl-crimson-wine-group.html">
                                60% Yield! (CWGL: Crimson Wine Group)
                            </a>
                        </span>
                <span class="domain">brookylninvestor.blogspot.com</span>

                <div class="byline">
                    by <a href="/u/jatinshah">jatinshah</a>
                    <span class="time">about 3 hours ago</span>
                    <span class="comments">| <a href="#">5 comments</a></span>
                </div>
            </div>
        </li>

    </ul>
    <ul class="pager">
        <li class="previous"><a href="#">Previous</a></li>
        <li class="next"><a href="#">Next</a></li>
    </ul>
</div>
{% endblock %}

