{% extends 'base.html' %}
{% load static %}
{% load content_tags %}

{% block title %}
- {{ post.title|truncatechars:100 }}
{% endblock %}
{% block body_block %}
<div class="container">
    <div class="post-item" style="border-bottom:none">
        <div style="display:none" class="post-slug">
            {{ post.slug }}
        </div>
        <div class="voting-block">
            <a href="#"><span class="fa fa-chevron-up fa-lg p-vote-up {% vote_class 'up' post.vote %}"></span></a>
            <span class="score">
                {% if post.score %}
                    {{ post.score }}
                {% else %}
                    0
                {% endif %}
            </span>
            <a href="#"><span class="fa fa-chevron-down fa-lg p-vote-down {% vote_class 'down' post.vote %}"></span></a>
        </div>
        <div class="trend">
            {% if post.trend == "bull" %}
            <img src="{% static 'images/bull.png' %}" title="Bull"></img>
        {% elif post.trend == "bear" %}
        <img src="{% static 'images/bear.png' %}" title="Bear"></img>
    {% endif %}
</div>
<div class="post-details">
    <span class="stock-symbol">
        {{post.stock.symbol}}
        <span class="stock-name"> {{post.stock.name}}</span>
    </span>

    {% if post.post_type == "link" %}
    <a href="{{ post.url }}" target="_blank">
        {{ post.title }}
    </a>
    <span class="domain">
        {{ post.domain }}
    </span>
    {% elif post.post_type == "article" %}
    <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
    </a>
    {% endif %}

    <span class="byline">
        <span>
            <i class="fa fa-user"></i>
            <a href="/u/{{ post.user.username }}">{{ post.user.username }}</a>
        </span>
        <span style="margin-left:20px;">
            <i class="fa fa-clock-o"></i> {{ post.created_on_humanize }}
        </span>
        {% if user.username == post.user.username and post.is_recent %}
        <span class="post-action" style="margin-left:20px;">
            <i class="fa fa-trash-o"></i> delete
        </span>
        {% endif %}
        <span class="post-action" style="margin-left: 20px;">
            <i class="fa fa-flag-o"></i> flag
        </span>
    </span>
    <!--<span class="badge">-->
        <!--{% if post.active %}-->
        <!--ACTIVE-->
        <!--{% else %}-->
        <!--INACTIVE-->
        <!--{% endif %}-->
    <!--</span>-->
</div>
</div>
<div style="padding-bottom: 0.3em;margin-bottom: 0.3em">
    {{ post.text }}
</div>

<div>
    {% if user.is_authenticated %}
    <form role="form" method="POST" name="comment_form" action="/c/add_comment/" novalidate>
        {% csrf_token %}
        <div class="form-group">
            {{ comment_form.text }}
        </div>
        {% for err in comment_form.text.errors %}
        <span class="help-block">{{ err }}</span>
        {% endfor %}

        <div class="form-group">
            {{ comment_form.slug }}
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-sm" value="Post Comment">
        </div>
    </form>
    {% endif %}
</div>
<div style="margin-bottom: 0.6em; padding-bottom: 0.6em; border-bottom: 1px solid #eaecee">
    <strong>
        {{ comments.count }} comment{{comments.count|pluralize}} sorted by:
    </strong>

    <div class="btn-group">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
            Recent <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">
                <small>Top</small>
                </a></li>
        </ul>
    </div>

</div>

<ul class="list-unstyled">
    {% for comment in comments %}
    <li class="comment-item">
        <div class="voting-block">
            <a href="#"><span class="fa fa-chevron-up c-vote-up text-muted"></span></a>
            <span class="score" style="font-size:10pt">21</span>
            <a href="#"><span class="fa fa-chevron-down c-vote-down text-muted"></span></a>
        </div>
        <div class="comment">
            <span class="byline">
                <span>
                    <i class="fa fa-user"></i>
                    <a href="/u/{{ post.user.username }}">{{ comment.user.username }}</a>
                </span>
                <span style="margin-left:20px;">
                    <i class="fa fa-clock-o"></i> {{ comment.created_on_humanize }}
                </span>
                <span class="post-action" style="margin-left:20px;">
                    <i class="fa fa-trash-o"></i> delete
                </span>
                <span class="post-action" style="margin-left: 20px;">
                    <i class="fa fa-flag-o"></i> flag
                </span>
            </span>
            <span style="display: block; position: relative">
                {{ comment.text }}
            </span>
        </div>
    </li>

    {% endfor %}
</ul>
</div>
{% endblock %}

