{% extends 'base.html' %}
{% load static %}
{% load form_tags %}

{% block title %}
    - Submit
{% endblock %}
{% block content %}
    <div class="col-lg-9 col-md-9 center">
        <h1>Submit to AlphaTracker</h1>

{#        <form role="form" name="post_form" method="POST" action="/c/submit/" novalidate>#}
        <form role="form" name="post_form" method="POST" novalidate>
            {% csrf_token %}


            <div class="radio">
                {% for field in form.post_type %}
                    <label class="radio-custom radio-inline" data-initialize="radio">
                        <input class="sr-only" name="{{ field.name }}" type="radio"
                               {% if field.is_checked %}checked="checked"{% endif %}
                               data-toggle=".{{ field.choice_value }}-field"
                               value="{{ field.choice_value }}">
                        {{ field.choice_label }}
                    </label>

                {% endfor %}
            </div>

            {% with field=form.symbol %}
                <div class="form-group {% if field.errors %}has-error{% endif %}"
                     id="stock-symbol">
                    {{ field.label_tag }}
                    {{ field }}
                    {% for err in field.errors %}
                        <span class="help-block">{{ err }}</span>
                    {% endfor %}
                </div>
            {% endwith %}

            <div class="form-group">
                {{ form.trend.label_tag }}
                <div class="radio">
                    <label class="radio-custom radio-inline" data-initialize="radio">
                        {{ form.trend.0.tag }}
                        <img src="{% static 'images/bull.png' %}" class="trend-icon"/>
                    </label>
                    <label class="radio-custom radio-inline" data-initialize="radio">
                        {{ form.trend.1.tag }}
                        <img src="{% static 'images/bear.png' %}" class="trend-icon"/>
                    </label>
                </div>
            </div>

            {% with field=form.title %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    {{ field|addclass:'form-control' }}
                    {% for err in field.errors %}
                        <span class="help-block">{{ err }}</span>
                    {% endfor %}
                </div>
            {% endwith %}

            <!-- Link Fields -->
            {% with field=form.url %}
                <div class="form-group link-field {% if field.errors %}has-error{% endif %}">
                    {{ field.label_tag }}
                    {{ field|addclass:'form-control' }}
                    {% for err in field.errors %}
                        <span class="help-block">{{ err }}</span>
                    {% endfor %}
                </div>
            {% endwith %}

            <!-- Article Fields -->

            {% with field=form.text %}
                <div class="form-group article-field {% if field.errors %}has-error{% endif %}">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#post-editor" role="tab" data-toggle="tab">Write</a></li>
                        <li><a href="#post-preview" role="tab" data-toggle="tab">Preview</a></li>
                    </ul>
                    <div class="tab-content">
                    <div class="tab-pane fade in active" id="post-editor">
                        {{ field|addclass:'form-control post-editor' }}
                    </div>
                    <div class="tab-pane fade post-preview" id="post-preview">
                    </div>
                    </div>
                    {% for err in field.errors %}
                        <span class="help-block">{{ err }}</span>
                    {% endfor %}
                </div>
            {% endwith %}


            <input type="submit" class="btn btn-primary click-disable" value="Submit">
        </form>
    </div>
{% endblock %}