.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.top50 {
    margin-top: 50px
}

.post-item {
    position: relative;
    padding-bottom: 0.6em;
    margin-bottom: 0.6em;
    overflow: auto;
    border-bottom: 1px solid #eaecee;
}

.headline{
    position: relative;
    margin-top: 0px;
}

.stock-symbol {
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: bold;
}
.stock-name {
    display: none;
    font-style: italic;
    color: #777;
}

.stock-symbol:hover .stock-name
{
    display: inline;
}

.domain {
    font-style: italic;
    font-size: 10pt;
    color: #aeaeae;
}

.byline {
    display: block;
    position: relative;
    font-size: 10pt;
    font-style: italic;
    color: #777777;
}

.post-action {
    display:none;
}

.comment-item:hover .post-action {
    display:inline;
}

.post-details:hover .post-action {
    display:inline;
}

.post-details {
    float: left;
    margin-left: 0.5em;
    width: 80%;
}

.trend {
    margin-left: 0.5em;
    float: left;
    padding-top: 20px;
}

.trend > img, .trend-icon {
    width: 30px;
    height: auto;
}

.voting-block {
    float: left;
}

.score {
    font-weight: bold;
    color: #777777;
    display: block;
    position: relative;
    text-align: center;
}

.performance-up {
    color: blue;
    background: white;
    border: 1px solid;
}

.performance-down {
    color: red;
    background: white;
    border: 1px solid;
}

.post-details:hover .performance-down
{
    display:inline;
}


.comment-item {
    border-bottom: 1px solid #eaecee;
    overflow: auto;
    padding-bottom: 0.6em;
    margin-bottom: 0.6em;
}

.comment {
    float: left;
    width: 90%;
    margin-left: 10px;
}

.stock-symbol-box {
    width: 90px;
}

.profile {
    position:relative;
    margin-bottom:0px;
    padding-top:15px;
    padding-bottom:15px;
    background: rgba(0,0,0,0);
}

.edit-profile {
    position:absolute;
    right:0;
    display: none;
}

.profile:hover .edit-profile {
    display:inline;
}