.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.top50 {
    margin-top: 50px
}

.post-item {
    position: relative;
    padding-bottom: 0.6em;
    border-bottom: 1px solid #eaecee;
    margin-bottom: 0.6em;
}



/* OLD */
.story, .comment-block {
    clear: both;
    /*padding-top: 0.1em;*/
    /*padding-bottom: 0.1em;*/
}

.vote {
    float: left;
}

.score {
    font-size: 14px;
    color: #777777;
}

.ticker {
    display: inline;
    font-size: 16px;
    margin-left: 5px;
}

.upvote {
    border-bottom-width: 8px;
}


.details {
    display:inline;
    margin-left: 5px;
    font-size: 16px;
}

.rating {
    display: inline;
    margin-left: 5px;
    margin-bottom:30px;
    text-align: center;
}

.rating img {
    width: 30px;
    heigh: auto;
    margin-left: 0px;
    vertical-align: middle;
    display: inline-block;
}



.domain {
    color: #888;
    font-style: italic;
    font-size: 10pt;
    vertical-align: middle;
}

.byline, .headline {
    color: #888;
    font-style: italic;
    font-size: 10pt;
    margin-left:50px;
}

.desc {
    padding: 5px;
}

.form-item {
    clear: both;
    padding-left: 15px;
}

.stock {
    color: #aaa;
    margin-top: 2.5px;
}

.profile-image {
    float: right;
}

.profile-field {
    margin-top: 2.5px;
}

.sentiment {
    margin-left: 10px
}
