<!DOCTYPE html>
{% load static %}
{% load navbar_tags %}

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AlphaTracker{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-flatly.css' %}">

    <link href="{% static 'bower_components/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/fuelux/dist/css/fuelux.css' %}" rel="stylesheet">

    <link href="{% static 'css/typeahead.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body class="fuelux">
<!--[if lte IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#alphatracker-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'recent' %}">Alpha Tracker</a>
    </div>
    <div class="collapse navbar-collapse" id="alphatracker-nav">
        <ul class="nav navbar-nav">
            <li class="{% active request '/c/recent/' %}">
                <a href="{% url 'recent' %}"><span class="fa fa-home right5"></span> Home</a>
            </li>
            <li class="{% active request '/c/follow/' %}">
                <a href="{% url 'follow' %}"><span class="fa fa-rss right5"></span> Following</a>
            </li>
            <li class="{% active request '/c/top_ideas/' %}">
                <a href="{% url 'top_ideas' time_frame='today' %}">
                    <span class="fa fa-trophy right5"></span> Top Ideas
                </a>
            </li>
            <li class="{% active request '/c/submit/' %}">
                <a href="{% url 'submit' %}"><span class="fa fa-plus right5"></span> Submit</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <hr class="divider">
            </li>
            {% if user.is_authenticated %}
            <li class="{% active request '/u/'|add:user.username|add:'/' %}">
                <a href="/u/{{user.username}}/"><span class="fa fa-user right5"></span> {{ request.user.username }}
                </a>
            </li>
            <li>
                <a href="{% url 'account_logout' %}">
                    <span class="fa fa-sign-out"</span>
                </a>
            </li>
            {% else %}
            <li class="{% active request '/signup/' %}">
                <a href="{% url 'account_signup' %}"><span class="fa fa-user right5"></span> Sign Up</a>
            </li>
            <li class="{% active request '/login/' %}">
                <a href="{% url 'account_login' %}"><span class="fa fa-sign-in right5"></span> Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<hr>
{% block content %}
{% endblock %}
<div class="footer">
      <div class="container">
        <a href="{% url 'about' %}">
              <span class="text-muted footer-item">About</span>
        </a>
        <a href="{% url 'terms' %}">
              <span class="text-muted footer-item">Terms</span>
        </a>
        <a href="{% url 'policy' %}">
              <span class="text-muted footer-item">Privacy</span>
        </a>
      </div>
</div>

<script src="{% static 'bower_components/jquery-1.11.0/dist/jquery.js' %}"></script>
<script src="{% static 'bower_components/modernizr/modernizr.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script src="{% static 'bower_components/fuelux/dist/js/fuelux.js' %}"></script>
<script src="{% static 'bower_components/typeahead.js/dist/typeahead.bundle.js' %}"></script>
<script src="{% static 'bower_components/handlebars/handlebars.js' %}"></script>
<script src="{% static 'bower_components/markdown/lib/markdown.js' %}"></script>

<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<!--[if lt IE 9]>
<script src="{% static 'bower_components/es5-shim/es5-shim.js' %}"></script>
<![endif]-->

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-54081674-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>